<mat-card>
  <br>
  <div class="main-table-container mat-elevation-z8">
    <div *ngIf="isLoadingResults || isRateLimitReached"
         class="table-loading-shade">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
        Wait...
      </div>
    </div>

    <div class="table-container">
      <table [dataSource]="data" class="http-table" mat-table
             matSort matSortActive="status" matSortDirection="desc" matSortDisableClear>

        <ng-container matColumnDef="shortForm">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let row" mat-cell>
            <a routerLink='/projects/details/{{row.id}}'>{{row.shortForm}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let row" mat-cell>{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="summary">
          <th *matHeaderCellDef mat-header-cell>Summary</th>
          <td *matCellDef="let row" mat-cell>
            <span *ngIf="row.summary.length > MAX_SUMMARY_LENGTH; then substrSummary else origSummary"></span>
            <ng-template #origSummary>{{row.summary}}</ng-template>
            <ng-template #substrSummary>{{row.summary.substring(0, MAX_SUMMARY_LENGTH) + '...'}}</ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            Status
          </th>
          <td *matCellDef="let row" mat-cell>{{row.status}}</td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Owner</th>
          <td *matCellDef="let row" mat-cell
              matTooltip="{{row.owner?.firstName}} {{row.owner?.lastName}} ({{row.owner?.nick}})">
            {{row.owner?.firstName}} {{row.owner?.lastName}}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of results"></mat-paginator>
  </div>
  <br>
</mat-card>
