<button mat-button style="float: right" (click)="goBack()">
  <mat-icon>close</mat-icon>
</button>
<div *ngIf="projectExists">
  <mat-tab-group>
    <mat-tab label="Details">
      <app-project-details></app-project-details>
    </mat-tab>
    <mat-tab label="Tasks">
      <mat-card>
        <mat-card-content>
          <app-task-list criteria="projectId"></app-task-list>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Users & Roles">
      <mat-card>
        <mat-card-content>
          <app-project-user-list></app-project-user-list>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Goals & Risks">
      <mat-card>
        <mat-card-content>
          <app-project-goals-risks></app-project-goals-risks>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Analytics">
      <app-project-charts></app-project-charts>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-spinner [ngClass]="spin ? 'mat-spinner-enabled' : 'mat-spinner-disabled'"></mat-spinner>
<app-message-bar></app-message-bar>
