<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Task Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of taskType"
                          [value]="type.internalName">{{type.displayName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
              <mat-option *ngFor="let p of priority"
                          [value]="p.internalName">{{p.displayName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill" hintLabel="Max {{MAX_SUMMARY_LENGTH}} characters">
            <mat-label>Summary</mat-label>
            <input #summary formControlName="summary" matInput>
            <mat-hint align="end">{{summary.value?.length || 0}}/{{MAX_SUMMARY_LENGTH}}</mat-hint>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Assignee</mat-label>
            <mat-select formControlName="assignee">
              <mat-option *ngFor="let user of addedToProject"
                          [value]="user.id">{{user.fullName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <mat-label>Due Date</mat-label>
            <input [matDatepicker]="datepicker" formControlName="dueDate" matInput>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button color="primary" mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="fill" hintLabel="Max 3600h">
            <mat-label>Estimation</mat-label>
            <input formControlName="estimation" matInput>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Owner</mat-label>
            <mat-select formControlName="owner" required>
              <mat-option *ngFor="let user of addedToProject"
                          [value]="user.id">{{user.fullName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <mat-form-field appearance="fill" hintLabel="Max {{MAX_DESC_LENGTH}} characters">
          <mat-label>Description</mat-label>
          <textarea #description formControlName="description" matAutosizeMaxRows="5" matAutosizeMinRows="2" matInput
                    matTextareaAutosize></textarea>
          <mat-hint align="end">{{description.value?.length || 0}}/{{MAX_DESC_LENGTH}}</mat-hint>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!formGroup.valid" color="primary" mat-raised-button type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
