<h1 mat-dialog-title>Manage User Account</h1>
<form (ngSubmit)="onSubmitEditUser()" [formGroup]="formGroup" class="form-container">
  <div mat-dialog-content>
    <div *ngIf="edit">
      <div>
        <mat-form-field appearance="fill" hintLabel="Max 50 characters">
          <mat-label>First name</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" hintLabel="Max 50 characters">
          <mat-label>Last name</mat-label>
          <input formControlName="lastName" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" hintLabel="Max 50 characters">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
<div mat-dialog-actions>
  <button *ngIf="!edit && !disabledUser"  (click)="disableUser()" mat-button tabindex="-1">Disable</button>
  <button *ngIf="!edit && disabledUser" (click)="enableUser()" mat-button tabindex="-1">Enable</button>
  <button *ngIf="!edit" mat-button tabindex="-1" (click)="resetPassword()">Reset password</button>
  <button *ngIf="!edit" mat-button tabindex="-1">Manage roles</button>
  <button (click)="edit=true" *ngIf="!edit" mat-button tabindex="-1">Edit</button>
  <button (click)="onSubmitEditUser()" *ngIf="edit" mat-button tabindex="-1">Save</button>
  <button mat-button mat-dialog-close tabindex="-1">Close</button>

</div>
