<button mat-button style="float: right" (click)="goBack()">
  <mat-icon>close</mat-icon>
</button>
<div style="margin: 10px; width: 10px; height: 10px"></div>
<div>
  <app-details [isHistoryDetails]="true">
    <span avatar>
      <div mat-card-avatar
           style="float:left;background-image: url('assets/project-icon.png'); background-size: cover;">
      </div>
    </span>
    <span title>{{projectHistory.name}}</span>
    <br>
    <span subtitle>#{{projectHistory.shortForm}}</span>
    <span content>
    <strong>Project version from {{projectHistory.expired}} created by {{projectHistory.editor?.firstName}} {{projectHistory.editor?.lastName}}</strong>
    <label class="attribute-label">Summary:</label>
    <br>
      {{projectHistory.summary}}

      <br>
    <br>

    <label class="attribute-label">Status:</label>
    <br>
      {{projectHistory.status}}

      <br>
    <br>

    <label class="attribute-label">Description:</label>
    <br>
      {{projectHistory.description}}

      <br>
    <br>
    <label class="attribute-label">Owner</label> {{projectHistory.owner}}
  </span>

    <span buttons>
    <button mat-button class="mat-button" routerLink="/projects/{{this.projectId}}/history/{{this.historyId}}/diff">
      <mat-icon>compare_arrows</mat-icon>
    </button>
  </span>
  </app-details>
</div>
