<div class="container-modal">
  <h1 mat-dialog-title>Manage {{this.modalData.data?.type == "GOAL" ? "Goal" : "Risk"}}</h1>
  <form (ngSubmit)="onSubmitSave()" [formGroup]="formGroup" class="form-container">
    <div mat-dialog-content>
      <div *ngIf="save">
        <div>
          <mat-form-field appearance="fill" hintLabel="5-150 characters">
            <mat-label>Content</mat-label>
            <input formControlName="content" matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill" hintLabel="Range 1-5">
            <mat-label>Priority</mat-label>
            <input formControlName="priority" matInput type="number" min="1" max="5">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div mat-dialog-actions>
    <button (click)="editGoalRisk()" *ngIf="!save" class="grey-button" mat-raised-button tabindex="-1">
      Edit {{this.modalData.data?.type == "GOAL" ? "Goal" : "Risk"}}
    </button>
    <button (click)="deleteGoalRisk()" *ngIf="!save" class="yellow-button" mat-raised-button tabindex="-1">
      Delete
    </button>
    <button [disabled]="!this.formGroup.valid" (click)="onSubmitSave()" *ngIf="save" class="grey-button"
            mat-raised-button
            tabindex="-1">
      Save
    </button>
    <button class="grey-button" mat-dialog-close mat-raised-button tabindex="-1">Close</button>

  </div>
</div>
