<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" class="main-table-container mat-elevation-z8">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Preferences
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <section class="preferences-section">
    <!--STATUS-->
    <span id="status-preferences">
      <span class="preferences-list-section">
        <mat-checkbox class="preferences-parent-checkbox" [checked]="allChecked[STATUS_INDEX]" color="primary"
                      [indeterminate]="someChecked(STATUS_INDEX)"
                      (change)="setAll(STATUS_INDEX, $event.checked)">
        </mat-checkbox>
        {{searchOptions[STATUS_INDEX].name}}
      </span>
      <span class="preferences-list-section">
        <ul>
          <li *ngFor="let subOptions of searchOptions[STATUS_INDEX].subOptions">
            <mat-checkbox [(ngModel)]="subOptions.checked" color="warn"
                          (ngModelChange)="updateAllChecked(STATUS_INDEX)">
              {{subOptions.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
    <!--PRIORITY-->
    <span id="priority-preferences">
      <span class="preferences-list-section">
        <mat-checkbox class="preferences-parent-checkbox" [checked]="allChecked[PRIORITY_INDEX]" color="primary"
                      [indeterminate]="someChecked(PRIORITY_INDEX)"
                      (change)="setAll(PRIORITY_INDEX, $event.checked)">
        </mat-checkbox>
        {{searchOptions[PRIORITY_INDEX].name}}
      </span>
      <span class="preferences-list-section">
        <ul>
          <li *ngFor="let subOptions of searchOptions[PRIORITY_INDEX].subOptions">
            <mat-checkbox [(ngModel)]="subOptions.checked" color="warn"
                          (ngModelChange)="updateAllChecked(PRIORITY_INDEX)">
              {{subOptions.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
    <!--TASK_TYPE-->
    <span id="task-type-preferences">
      <span class="preferences-list-section">
        <mat-checkbox class="preferences-parent-checkbox" [checked]="allChecked[TASKS_TYPE_INDEX]" color="primary"
                      [indeterminate]="someChecked(TASKS_TYPE_INDEX)"
                      (change)="setAll(TASKS_TYPE_INDEX, $event.checked)">
        </mat-checkbox>
        {{searchOptions[TASKS_TYPE_INDEX].name}}
      </span>
      <span class="preferences-list-section">
        <ul>
          <li *ngFor="let subOptions of searchOptions[TASKS_TYPE_INDEX].subOptions">
            <mat-checkbox [(ngModel)]="subOptions.checked" color="warn"
                          (ngModelChange)="updateAllChecked(TASKS_TYPE_INDEX)">
              {{subOptions.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
  </section>
  <button mat-button class="save-button" (click)="savePreferencesAndRefreshTable()">Save</button>

</mat-expansion-panel>

<br>

<div class="main-table-container mat-elevation-z8">

  <div *ngIf="isLoadingResults || isRateLimitReached"
       class="table-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
      Wait...
    </div>
  </div>

  <div class="table-container">

    <table [dataSource]="data" class="http-table" mat-table
           matSort matSortActive="status" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let row" mat-cell>
          <a routerLink='/tasks/{{row.id}}/details'>{{row.number}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
        <td *matCellDef="let row" mat-cell>{{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="summary">
        <th *matHeaderCellDef mat-header-cell>Summary</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.summary.length > MAX_SUMMARY_LENGTH; then substrSummary else origSummary"></span>
          <ng-template #origSummary>{{row.summary}}</ng-template>
          <ng-template #substrSummary>{{row.summary.substring(0, MAX_SUMMARY_LENGTH) + '...'}}</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
        <td *matCellDef="let row" mat-cell>{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Assignee</th>
        <td *matCellDef="let row" mat-cell>{{row.assignee?.fullName}}</td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Due Date</th>
        <td *matCellDef="let row" mat-cell>{{row.dueDate}}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Priority</th>
        <td *matCellDef="let row" mat-cell>{{row.priority}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of results"></mat-paginator>
</div>
