<mat-expansion-panel (closed)="panelOpenState = false"
                     (opened)="panelOpenState = true" class="main-table-container mat-elevation-z8">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Preferences
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <section class="preferences-section">
    <!--STATUS-->
    <span id="status-preferences">
      <span class="preferences-list-section">
        <mat-checkbox (change)="setAll(STATUS_INDEX, $event.checked)" [checked]="allChecked[STATUS_INDEX]" [indeterminate]="someChecked(STATUS_INDEX)"
                      class="preferences-parent-checkbox"
                      color="primary">
        </mat-checkbox>
        {{searchOptions[STATUS_INDEX].name}}
      </span>
      <span class="preferences-list-section">
        <ul>
          <li *ngFor="let subOptions of searchOptions[STATUS_INDEX].subOptions">
            <mat-checkbox (ngModelChange)="updateAllChecked(STATUS_INDEX)" [(ngModel)]="subOptions.checked"
                          color="warn">
              {{subOptions.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
    <!--PRIORITY-->
    <span id="priority-preferences">
      <span class="preferences-list-section">
        <mat-checkbox (change)="setAll(PRIORITY_INDEX, $event.checked)" [checked]="allChecked[PRIORITY_INDEX]" [indeterminate]="someChecked(PRIORITY_INDEX)"
                      class="preferences-parent-checkbox"
                      color="primary">
        </mat-checkbox>
        {{searchOptions[PRIORITY_INDEX].name}}
      </span>
      <span class="preferences-list-section">
        <ul>
          <li *ngFor="let subOptions of searchOptions[PRIORITY_INDEX].subOptions">
            <mat-checkbox (ngModelChange)="updateAllChecked(PRIORITY_INDEX)" [(ngModel)]="subOptions.checked"
                          color="warn">
              {{subOptions.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
    <!--TASK_TYPE-->
    <span id="task-type-preferences">
      <span class="preferences-list-section">
        <mat-checkbox (change)="setAll(TASKS_TYPE_INDEX, $event.checked)" [checked]="allChecked[TASKS_TYPE_INDEX]" [indeterminate]="someChecked(TASKS_TYPE_INDEX)"
                      class="preferences-parent-checkbox"
                      color="primary">
        </mat-checkbox>
        {{searchOptions[TASKS_TYPE_INDEX].name}}
      </span>
      <span class="preferences-list-section">
        <ul>
          <li *ngFor="let subOptions of searchOptions[TASKS_TYPE_INDEX].subOptions">
            <mat-checkbox (ngModelChange)="updateAllChecked(TASKS_TYPE_INDEX)" [(ngModel)]="subOptions.checked"
                          color="warn">
              {{subOptions.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
  </section>
  <button (click)="savePreferencesAndRefreshTable()" class="grey-button" mat-button>Save</button>

</mat-expansion-panel>

<br>

<div class="main-table-container mat-elevation-z8">

  <div *ngIf="isLoadingResults || isRateLimitReached"
       class="table-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
      Wait...
    </div>
  </div>

  <div class="table-container">

    <table [dataSource]="data" class="http-table" mat-table
           matSort matSortActive="status" matSortDirection="desc" matSortDisableClear>

      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let row" mat-cell>
          <a routerLink='/tasks/{{row.id}}/details'>{{row.number}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
        <td *matCellDef="let row" mat-cell>{{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="summary">
        <th *matHeaderCellDef mat-header-cell>Summary</th>
        <td *matCellDef="let row" mat-cell>
          <span *ngIf="row.summary.length > MAX_SUMMARY_LENGTH; then substrSummary else origSummary"></span>
          <ng-template #origSummary>{{row.summary}}</ng-template>
          <ng-template #substrSummary>{{row.summary.substring(0, MAX_SUMMARY_LENGTH) + '...'}}</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
        <td *matCellDef="let row" mat-cell>{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="assignee">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Assignee</th>
        <td *matCellDef="let row" mat-cell
            matTooltip="{{row.assignee?.firstName}} {{row.assignee?.lastName}} ({{row.assignee?.nick}})">{{row.assignee?.firstName}} {{row.assignee?.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Due Date</th>
        <td *matCellDef="let row" mat-cell>{{row.dueDate}}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Priority</th>
        <td *matCellDef="let row" mat-cell>{{row.priority}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of results"></mat-paginator>
</div>
