<app-details>
  <span avatar>
    <div mat-card-avatar
         style="float:left;background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover;">
    </div>
  </span>
  <span title>{{primaryAttributes.name}}</span>
  <span subtitle>#{{primaryAttributes.shortForm}}</span>
  <span content>
    <mat-card>
      <label class="attribute-label">Summary:</label>
      <br>
      {{primaryAttributes.summary}}

      <br>
      <br>

      <label class="attribute-label">Description:</label>
      <br>
      {{secondaryAttributes.description}}
    </mat-card>

     <mat-card>
       <label class="attribute-label">Created By:</label> {{secondaryAttributes.createdBy}}
       <br>
       <br>
       <label class="attribute-label">Created:</label> {{secondaryAttributes.created}}
       <br>
       <br>
       <label class="attribute-label">Modified:</label> {{secondaryAttributes.modified}}

    </mat-card>


  </span>
</app-details>
