<app-details>
  <span avatar>
    <div mat-card-avatar
         style="float:left;background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover;">
    </div>
  </span>
  <span title>{{primaryAttributes.name}}</span>
  <span subtitle>#{{primaryAttributes.shortForm}}</span>
  <span content>
    <label class="attribute-label">Summary:</label>
    <br>
    {{primaryAttributes.summary}}

    <br>
    <br>

    <mat-spinner [ngClass]="spin ? 'mat-spinner-enabled' : 'mat-spinner-disabled'"></mat-spinner>

    <label class="attribute-label">Description:</label>
    <br>
    {{secondaryAttributes.description}}

    <br>
    <br>
    <label class="attribute-label">Created By:</label> {{secondaryAttributes.createdBy?.firstName}} {{secondaryAttributes.createdBy?.lastName}}
    <br>
    <label class="attribute-label">Created:</label> {{secondaryAttributes.created | date: 'medium'}}
    <br>
    <label class="attribute-label">Modified:</label> {{secondaryAttributes.updated | date: 'medium'}}
  </span>

  <span buttons>
    <button *ngIf="authService.isManager()" mat-button routerLink="/projects/{{primaryAttributes.id}}/edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="authService.isManager()" mat-button routerLink="/projects/{{primaryAttributes.id}}/add-user">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-button routerLink="/projects/{{primaryAttributes.id}}/history">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-button routerLink="/projects/{{primaryAttributes.id}}/create-task">
      <mat-icon>note_add</mat-icon>
    </button>
  </span>
</app-details>
<app-message-bar></app-message-bar>
