<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{listName}} ({{tasks?.length}})
      </mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>task</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container">
      <div>
        <br>
        <div *ngIf="!tasks || tasks.length != 0" class="main-table-container mat-elevation-z4">
          <div class="table-container">

            <table [dataSource]="children" mat-table>

              <ng-container matColumnDef="number">
                <th *matHeaderCellDef mat-header-cell>#</th>
                <td *matCellDef="let row" mat-cell>
                  <span *ngIf="row.child.status == 'Done'">
            <span class="symbol-status">
              <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" style="fill:#000000;opacity:0.9"/>
              </svg>
            </span>
            <span class="strikeout-task">
            <a [style.color]="getTextColorStyle(row.child.type)"
               routerLink='/tasks/{{row.child.id}}/details'>{{row.child.number}}</a>
            </span>
          </span>
                  <span *ngIf="row.child.status == 'Canceled'">
            <span class="symbol-status">
               <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" stroke="black" style="fill:#ffffff; stroke-width:2"/>
                  <line stroke="black" style="stroke-width:3" x1="6" x2="24" y1="6" y2="24"/>
                  <line stroke="black" style="stroke-width:3" x1="24" x2="6" y1="6" y2="24"/>
              </svg>
            </span>
            <span class="strikeout-task strikeout-task-dotted">
            <a [style.color]="getTextColorStyle(row.child.type)"
               routerLink='/tasks/{{row.child.id}}/details'>{{row.child.number}}</a>
            </span>
          </span>

                  <span *ngIf="row.child.status == 'New'">
            <span class="symbol-status">
              <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" stroke="black" style="fill:#ffffff; stroke-width:2"/>
              </svg>
           </span>
            <span class="number-status-line new-status-line">
              <a [style.color]="getTextColorStyle(row.child.type)"
                 routerLink='/tasks/{{row.child.id}}/details'>{{row.child.number}}</a>
            </span>
          </span>
                  <span *ngIf="row.child.status == 'In Progress'">
             <span class="symbol-status">
              <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" stroke="black" style="fill:#ffffff; stroke-width:2"/>
                  <circle cx="15.5" cy="15.5" r="6.5" style="fill:#070707;"/>
              </svg>
           </span>
            <span class="number-status-line in-progress-status-line">
              <a [style.color]="getTextColorStyle(row.child.type)"
                 routerLink='/tasks/{{row.child.id}}/details'>{{row.child.number}}</a>
            </span>
          </span>
                </td>

                <td *matFooterCellDef mat-footer-cell>
                 <span *ngIf="parent?.parent?.status == 'Done'">
            <span class="symbol-status">
              <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" style="fill:#000000;opacity:0.9"/>
              </svg>
            </span>
            <span class="strikeout-task">
            <a [style.color]="getTextColorStyle(parent?.parent?.type)"
               routerLink='/tasks/{{parent?.parent?.id}}/details'>{{parent?.parent?.number}}</a>
            </span>
          </span>
                  <span *ngIf="parent?.parent?.status == 'Canceled'">
            <span class="symbol-status">
               <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" stroke="black" style="fill:#ffffff; stroke-width:2"/>
                  <line stroke="black" style="stroke-width:3" x1="6" x2="24" y1="6" y2="24"/>
                  <line stroke="black" style="stroke-width:3" x1="24" x2="6" y1="6" y2="24"/>
              </svg>
            </span>
            <span class="strikeout-task strikeout-task-dotted">
            <a [style.color]="getTextColorStyle(parent?.parent?.type)"
               routerLink='/tasks/{{parent?.parent?.id}}/details'>{{parent?.parent?.number}}</a>
            </span>
          </span>

                  <span *ngIf="parent?.parent?.status == 'New'">
            <span class="symbol-status">
              <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" stroke="black" style="fill:#ffffff; stroke-width:2"/>
              </svg>
           </span>
            <span class="number-status-line new-status-line">
              <a [style.color]="getTextColorStyle(parent?.parent?.type)"
                 routerLink='/tasks/{{parent?.parent?.id}}/details'>{{parent?.parent?.number}}</a>
            </span>
          </span>
                  <span *ngIf="parent?.parent?.status == 'In Progress'">
             <span class="symbol-status">
              <svg height="40" width="40">
                  <circle cx="15" cy="15" r="12" stroke="black" style="fill:#ffffff; stroke-width:2"/>
                  <circle cx="15.5" cy="15.5" r="6.5" style="fill:#070707;"/>
              </svg>
           </span>
            <span class="number-status-line in-progress-status-line">
              <a [style.color]="getTextColorStyle(parent?.parent?.type)"
                 routerLink='/tasks/{{parent?.parent?.id}}/details'>{{parent?.parent?.number}}</a>
            </span>
          </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="summary">
                <th *matHeaderCellDef mat-header-cell>Summary</th>
                <td *matCellDef="let row" mat-cell>
                  <span
                    *ngIf="row.child.summary.length > MAX_SUMMARY_LENGTH; then substrSummary else origSummary"></span>
                  <ng-template #origSummary>{{row.child.summary}}</ng-template>
                  <ng-template
                    #substrSummary>{{row.child.summary.substring(0, MAX_SUMMARY_LENGTH) + '...'}}</ng-template>
                </td>
                <td *matFooterCellDef mat-footer-cell><strong>{{parent?.parent?.summary}} </strong></td>
              </ng-container>

              <ng-container matColumnDef="relation">
                <th *matHeaderCellDef mat-header-cell>Relation</th>
                <td *matCellDef="let row" mat-cell>{{row.type == 'CHILD_IS_PART_OF' ? "Subtask" : ""}}</td>
                <td *matFooterCellDef mat-footer-cell><strong>{{parent ? 'Parent' : ''}}</strong></td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
              <tr *matFooterRowDef="displayedColumns" [hidden]="parent==undefined" class="border-top"
                  mat-footer-row
                  style="background-color: #f1f1f1"></tr>
            </table>
          </div>

          <!--          <mat-paginator [length]="tasks.length" [pageSize]="tasks.length"-->
          <!--                         aria-label="Select page of results"></mat-paginator>-->
        </div>
      </div>

      <mat-card>
        <mat-card-actions>

          Task number: <br>
          <input #input type="text">
          <hr>
          Relation type: <br>
          <select #select>
            <option value="CURRENT_TASK_IS_PARENT">{{taskNumber}} is parent</option>
            <option value="CURRENT_TASK_IS_CHILD">{{taskNumber}} is child</option>
            <option value="CURRENT_TASK_IS_SOLVED_BY">{{taskNumber}} is solved by</option>
            <option value="CURRENT_TASK_SOLVES">{{taskNumber}} solves</option>
          </select>
          <button (click)="appendSubTask(input.value, select.value)" color="primary" mat-button>Connect</button>
        </mat-card-actions>

      </mat-card>
    </div>
    <br>
  </mat-expansion-panel>
</mat-accordion>
