<mat-tab-group>
  <mat-tab label="Tasks assigned to me">
    <mat-card>
      <mat-card-content>
        <app-task-list criteria="assignee"></app-task-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Tasks owned by me">
    <mat-card>
      <mat-card-content>
        <app-task-list criteria="owner"></app-task-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="About my work">
    <mat-card>
      <mat-card-content>
        <ol>
          We need history in db for this!
          History table for each table that contains business data: tasks, projects
          Trigger on the database that will save record before update to the history table
          <li>Tasks created by me: 100</li>
          <li>Tasks I worked on: 100</li>
          <li>Tasks I worked on this week: 100</li>
          <li>Summary logged time: 250h</li>
          <li>Logged time in this week: 10h</li>
          <li>Logged time in this month: 25h</li>
          <li>Logged time in this year: 250h</li>
          <li>Average logged time for day: 5h 16 min</li>
        </ol>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>






