<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form-container">
  <mat-card-content>
    <div class="row">
      <div class="col-md-2">
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input [matDatepicker]="datepicker" formControlName="date" matInput>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field appearance="fill" hintLabel="Max 20h">
          <mat-label>Time (hours)</mat-label>
          <input formControlName="timeInHours" matInput type="number" #timeInHours>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field appearance="fill" hintLabel="Max 60m">
          <mat-label>Time (minutes)</mat-label>
          <input formControlName="timeInMinutes" matInput type="number" #timeInMinutes>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field appearance="fill">
          <mat-label>Time result in minutes</mat-label>
          <input matInput value="{{parseInt(timeInMinutes.value) + parseInt(timeInHours.value) * 60}}" disabled>
        </mat-form-field>
      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" hintLabel="Max {{MAX_COMMENT_LENGTH}} characters">
          <mat-label>Comment</mat-label>
          <textarea #comment formControlName="comment" matAutosizeMaxRows="3" matAutosizeMinRows="2" matInput
                    matTextareaAutosize></textarea>
          <mat-hint align="end">{{comment.value.length || 0}}/{{MAX_COMMENT_LENGTH}}</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!formGroup.valid" mat-raised-button class="save-button" type="submit">Save</button>
    <button (click)="this.resetForm()" mat-raised-button class="reset-button" type="button">Reset</button>
  </mat-card-actions>
</form>
