<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Attachments ({{fileInfos.length}})
      </mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>attach_file</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container">
      <div class="upload-file-container" *ngIf="uploadFileAccessGranted">
        <mat-toolbar *ngIf="currentFile" class="progress-bar">
          <mat-progress-bar [value]="progress" color="accent"></mat-progress-bar>
          <span class="progress">{{ progress }}%</span>
          <br>
        </mat-toolbar>

        <mat-form-field style="width: 100%">
          <div>
            <mat-toolbar>
              <input [value]="fileName" matInput/>

              <button
                (click)="upload()"
                [disabled]="!currentFile"
                color="primary"
                mat-raised-button>
                Upload
              </button>
            </mat-toolbar>

            <input (change)="selectFile($event)"
                   id="fileInput"
                   name="fileInput"
                   style="width: 600px!important;"
                   type="file"
            />
          </div>
        </mat-form-field>
      </div>

      <div *ngIf="message" class="message">
        {{ message }}
      </div>
      <div>
        <div *ngFor="let file of fileInfos; let i = index" role="listitem">

          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ file.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button (click)="download(i)" *ngIf="downloadFileAccessGranted" class="form-buttons" color="primary"
                      mat-raised-button type="button">Download
              </button>
              <button (click)="remove(i)" *ngIf="removeFileAccessGranted" class="form-buttons" color="accent"
                      mat-raised-button
                      style="margin: 10px;" type="button">Remove
              </button>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>
        </div>
      </div>
    </div>


  </mat-expansion-panel>
</mat-accordion>



