<app-details>
  <span avatar>
    <div mat-card-avatar
         style="float:left;background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover;">
    </div>
  </span>
  <span title>{{primaryAttributes.number}} - {{primaryAttributes.type}}</span>
  <span subtitle><a
    routerLink='/projects/details/{{primaryAttributes.project?.id}}'>{{primaryAttributes.project?.name}}</a></span>
  <span content>
    <label class="attribute-label">Estimation:</label> {{estimation}}
    <br>
    <label class="attribute-label">Priority:</label> {{primaryAttributes.priority}}
    <br>
    <label class="attribute-label">Due Date:</label>
    <strong
      [ngClass]="{'dueDateExceeded': dueDateExceeded, 'dueDateComingUp': dueDateComingUp}"> {{primaryAttributes.dueDate | date: 'dd MMMM yyyy'}}</strong>
    <br>
    <label class="attribute-label">Status:</label> {{primaryAttributes.status}}
    <br>
    <br>
    <label class="attribute-label">Summary:</label>
    <br>
    {{primaryAttributes.summary}}

    <br>
    <br>

    <label class="attribute-label">Description:</label>
    <br>
    {{secondaryAttributes.description}}

    <br>
    <br>
    <label class="attribute-label">Created By:</label> {{secondaryAttributes.createdBy?.fullName}}
    <br>
    <label class="attribute-label">Created:</label> {{secondaryAttributes.created | date: 'medium'}}
    <br>
    <label class="attribute-label">Modified:</label> {{secondaryAttributes.modified | date: 'medium'}}
  </span>

  <span buttons>
    <button mat-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button routerLink='/tasks/{{primaryAttributes.id}}/details/timelog'>
      <mat-icon>access_time</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>history</mat-icon>
    </button>
  </span>
</app-details>
