/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Calibri", sans-serif;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-divider {
  background-color: #002b5c !important;
}

mat-card-content {
  padding: 10px;
}
