/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Calibri", sans-serif;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-divider {
  background-color: #3F4B59 !important;
}

mat-card-content {
  padding: 10px;
}

mat-card-header.form-header {
  display: flex;
  justify-content: space-between;
}

/*snackbar*/
.success-bar {
  background: #3F4B59;
  color: #e5eaf5;
}

.error-bar {
  background: #fa625f;
  color: #e5eaf5;
}

/*snackbar*/

.save-button {
  background: #3F4B59;
  color: #e5eaf5;
}

.reset-button {
  background: #feda6a;
  color: #3F4B59;
}

table[mat-table] {
}

mat-paginator {
  font-size: 15px !important;
}

.table-container {
}

.mat-cell {

}

.mat-header-cell {
  font-size: 15px;
  font-weight: bold;
}

mat-card {
}

mat-card {
}

.mat-sidenav-content .content {
}

.mat-spinner-enabled {
  display: block !important;
  position: absolute !important;
  z-index: 10000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.mat-spinner-disabled {
  display: none !important;
}
