/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Calibri", sans-serif;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-divider {
  background-color: #494D5F !important;
}

mat-card-content {
  padding: 10px;
}

mat-card-header.form-header {
  display: flex;
  justify-content: space-between;
}

/*snackbar*/
.success-bar {
  background: #494D5F;
  color: #e5eaf5;
}

.error-bar {
  background: #fa625f;
  color: #e5eaf5;
}
/*snackbar*/

.save-button {
  background: #494D5F;
  color: #e5eaf5;
}

.reset-button {
  background: #feda6a;
  color: #494D5F;
}
