<mat-form-field>
  <mat-label>Filter</mat-label>
  <input #inputGoals (keyup)="applyGoalsFilter($event)" matInput>
</mat-form-field>

<table [dataSource]="dataSourceGoals" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="content">
    <th *matHeaderCellDef mat-header-cell> Goal</th>
    <td *matCellDef="let element" mat-cell> {{element.value}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th *matHeaderCellDef mat-header-cell> Priority</th>
    <td *matCellDef="let element" mat-cell> {{element.priority}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">No data matching the filter "{{inputGoals.value}}"</td>
  </tr>
</table>

<hr>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input #inputRisks (keyup)="applyRisksFilter($event)" matInput>
</mat-form-field>

<table [dataSource]="dataSourceRisks" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="content">
    <th *matHeaderCellDef mat-header-cell> Risk</th>
    <td *matCellDef="let element" mat-cell> {{element.value}} </td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th *matHeaderCellDef mat-header-cell> Priority</th>
    <td *matCellDef="let element" mat-cell> {{element.priority}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">No data matching the filter "{{inputRisks.value}}"</td>
  </tr>
</table>
